body {
  padding-top: 70px;
}

 body > .container {
	margin-top: 100px;
}

.carousel-item {
  height: 65vh;
  min-height: 300px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.portfolio-item, .col-11 {
  margin-bottom: 30px;
}

.col-11 {
	padding:0;
}

.card-body {
	text-align: center;
	vertical-align: text-bottom;
}


.card img{
	max-height: 250px;
	width: auto;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
}

#monthbeer img{
	display: block;
	margin-left: auto;
	margin-right: auto;
	height: 1002px;
}

.navbar-brand {
	font-family: 'Caveat', cursive !important;
	font-size: 3em;
}

.no-bullets {
  list-style-type: none; /* Remove bullets */
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margins */
}

a[aria-expanded="false"] .fa {
	transform: rotate(180deg);
}

a.text-dark:hover {
	text-decoration: none;
}